.scrollbar-hover::-webkit-scrollbar,.scrollbar-hover::-webkit-scrollbar-button,.scrollbar-hover::-webkit-scrollbar-thumb,.scrollbar-hover::-webkit-scrollbar-track{visibility:hidden}.scrollbar-hover:hover::-webkit-scrollbar,.scrollbar-hover:hover::-webkit-scrollbar-button,.scrollbar-hover:hover::-webkit-scrollbar-thumb,.scrollbar-hover:hover::-webkit-scrollbar-track{visibility:visible}@media (min-width:768px){::-webkit-scrollbar{width:10px;height:10px}::-webkit-scrollbar-button{width:0;height:0}::-webkit-scrollbar-button:end:increment,::-webkit-scrollbar-button:start:decrement{display:block}::-webkit-scrollbar-button:vertical:end:decrement,::-webkit-scrollbar-button:vertical:start:increment{display:none}::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-track:vertical{border-color:transparent;border-style:solid}::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box}::-webkit-scrollbar-thumb{min-height:28px;padding-top:100;background-color:rgba(0,0,0,.2);-webkit-background-clip:padding-box;background-clip:padding-box;border-radius:1px;-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)}::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25)}::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.5);-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35)}::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-track:vertical{border-width:0}::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.05);-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1)}::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,.05);-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07)}}

.icon {
    min-width: 14px;
    text-align: center;
}
.app-name-link > img {
    width: 100px;
}
.sidebar ul,
.sidebar .app-sub-sidebar {
    margin: 0;
    padding-left: 15px;
}
.sidebar li {
    position: relative;
}
.sidebar li > a {
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}
.sidebar .app-sub-sidebar li > a {
    padding-left: 15px;
}
.sidebar .app-sub-sidebar li:before {
    content: '';
    left: 2px;
    top: 12px;
    display: block;
    position: absolute;
    background: rgba(0,0,0,.1);
    width: 5px;
    height: 5px;
    padding: 0;
}
.sidebar-nav > ul > li > ul > li > ul.app-sub-sidebar,
.sidebar-nav > ul > li > ul > li > a {
    padding-left: 20px;
}
.sidebar li > a:hover {
    background: rgba(0,0,0,.05);
}
.sidebar-nav .icon {
    margin-right: 1px;
    opacity: .65;
    min-width: 20px;
}

.markdown-section h1 code,
.markdown-section h2 code,
.markdown-section h3 code,
.markdown-section h4 code,
.markdown-section h5 code,
.markdown-section h6 code {font-size: inherit;}
.markdown-section p.warn {
    background: rgba(165, 122, 230, .1);
    background: #f8f8f8;
    padding: 12px 24px 12px 30px;
    position: relative;
    border-radius: 0 2px 2px 0;
    border-left: 4px solid var(--theme-color, #42b983);
    margin: 2em 0;
}
.markdown-section p.warn:before {
    background-color: var(--theme-color, #42b983);
    border-radius: 100%;
    color: #fff;
    content: "?";
    font-family: Dosis,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    top: 14px;
}
.markdown-section code, .markdown-section pre {
    background-color: rgba(0,0,0,.035);
}

.markdown-section .link-item {
    display: inline-block;
    min-width: 300px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 8px 48px 8px 16px;
    border-radius: 2px;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    position: relative;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.07), 0px 2px 1px -1px rgba(0, 0, 0, 0.06);
    line-height: 24px;
}
.markdown-section .link-item:after {
    content: attr(href);
    display: block;
    opacity: .5;
    font-size: 13px;
}
.markdown-section .link-item:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\F142';
    position: absolute;
    right: 16px;
    top: 20px;
    opacity: 0.5;
    font-size: 20px;
}
.markdown-section .link-item[target="_blank"]:before {
    content: '\F3CC';
}

.markdown-section .link-item:hover {
    color: var(--theme-color,#42b983);
    background: rgba(0,0,0,.05);
}
.markdown-section .link-item.with-icon {
    padding-left: 64px;
}
.markdown-section .link-item.with-icon > .icon {
    font-size: 32px;
    position: absolute;
    left: 12px;
    top: 12px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    opacity: .75;
}

.markdown-section .table-grid {margin: 0}
.table-grid,
.table-grid tr,
.table-grid td,
.table-grid th {border: none;}
.table-grid td,
.table-grid th {padding: 8px;}
.table-grid tr > td:first-child,
.table-grid tr > th:first-child {padding-left: 0}
.table-grid tr > td:last-child,
.table-grid tr > th:last-child {padding-right: 0}
.markdown-section .table-grid tr:nth-child(2n) {
    background: none;
}